:root {
    --cor-fundo: #EBECEE;
    --cor-branco: #FFFFFF;
    --cor-laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte--principal: "Poppins";
    --azul: #002F52;
    --fonte-secundaria: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

hr {
    margin: 0;
}

.rodape {
    background-color: var(--cor-branco);
    padding: 1em;
    margin-top: 530px;
}

.lista_rodape,
.lista-rodape__titulo {
    display: none;
}

.nomeLoja {
    text-align: start;
    margin-left: 30px;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista_rodape_item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista_rodape_link {
        text-decoration: none;
        color: var(--cinza);
        margin-left: 0.6em;
    }

    .lista_rodape_titulo {
        font-size: 14px;
        color: var(--cinza-claro);
    }

    .rodape_titulo {
        font-size: 24px;
    }

    .lista_rodape {
        display: block;
    }

    .lista_rodape_link:hover {
        color: var(--laranja);
    }
    #nomeLoja{
        text-align: center;
        opacity: 60%;
        font-weight: 500;
        margin-top: 900px;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        /* border-left: 1px solid var(--cinza-claro); */
        padding-left: 1em;
    }

    .rodape {
        margin-top: 35%;
        padding-bottom: 1px;
    }

    .lista-rodape__link:hover {
        color: var(--laranja);
    }

    #nomeLoja{
        text-align: center;
        opacity: 60%;
        font-weight: 500;
        margin-top: 900px;
    }
}