.banner {
    background: var(--cor-padrao);
    color: var(--branco);
    text-align: center;
    padding: 1em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

@media screen and (min-width: 1728px) {
    .banner__titulo {
        font-size: 36px;
    }
}