.principal {
    width: 90vw;
    margin: 1em auto 3em auto;
    overflow-x: auto;
}

.principal__titulo {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: var(--preto);
}

table.funcionarios {
    border-collapse: collapse;
    width: 100%;
}

table.funcionarios th,
table.funcionarios td {
    background-color: var(-branco);
    border: 1px solid var(--cor-padrao);
    padding: 5px;
    text-align: left;
    white-space: nowrap;
}

table.funcionarios tr:nth-child(even) {
    background-color: var(--branco);
}

@media screen and (min-width: 1200px) and (min-width: 1728px) {

    .principal {
        width: 95vw;
        margin: 6em auto 7em auto;
    }

    .principal__titulo {
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        color: var(--preto)
    }

    .funcionarios,
    .nome_titulo {
        border: 3px solid var(--cor-padrao);
        gap: 10px;
        font-size: 10px;
        font-weight: 400;
        font-family: var(--fonte-principal);
        border-radius: 5px;
    }

    .nome_dados {
        border: 2px solid var(--cor-padrao);
    }

    table.funcionarios {
        border-collapse: collapse;
        width: 70%;
    }

    table.funcionarios th,
    table.funcionarios td {
        border: 1px solid var(--cor-padrao);
        padding: 5px;
        text-align: left;
        background-color: var(--cor-de-fundo);
    }

    table.funcionarios tr:nth-child(even) {
        background-color: var(--cor-de-fundo);
    }

    .pointer-icon {
        cursor: pointer;
    }

}