.principal {
    width: 70vw;
    margin: 2em auto 3em auto;
}

.principal__titulo {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: var(--preto)
}

.principal__subtitulo {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--cor-padrao);
    margin: 1.5em 0 1em 0;
}

.campo__etiqueta {
    display: block;
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    color: var(--cor-padrao);
    margin-left: 0;
}

.campo__escrita {
    border: 1px solid var(--cor-padrao);
    border-radius: 24px;
    padding: 0.5em;
    width: 100%;
}

.formulario__campo {
    margin: .3em 1.5em .3em 0;

}

.formulario__dupla {
    display: flex;
}

.formulario__botao {
    background: var(--preto);
    padding: 0.5em 1em;
    font-weight: 700;
    font-size: 12px;
    line-height: 10px;
    border: none;
    border-radius: 10px;
    color: var(--branco);
    cursor: pointer;
    /* float: right; */
    text-transform: uppercase;
    border: 1px solid var(--cor-padrao);
    margin-left: 53%;
}

.formulario__erro {
    display: flex;
    margin-top: .2.5em;
    align-items: center;
}

.erro__imagem {
    width: 12px;
    height: 12px;
    margin: 0 .2.5em;
    background-image: url('../img/warning.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.erro__texto {
    font-size: 9px;
    line-height: 14px;
    color: var(--vermelho);
}


@media screen and (min-width: 1366px) and (min-width: 1728px) {

    .principal {
        width: 85vw;
        margin: 6em auto 7em auto;
    }

    .principal__titulo {
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        color: var(--preto)
    }

    .principal__subtitulo {
        font-weight: 700;
        font-size: 17px;
        line-height: 26px;
        color: var(--cor-padrao);
        margin: 3em 0 2em 0;
    }

    .campo__etiqueta {
        display: block;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: var(--cor-padrao);
        margin-left: 1em;
    }

    .campo__escrita {
        border: 1px solid var(--cor-padrao);
        border-radius: 24px;
        padding: 1em;
        width: 100%;
    }

    .formulario__campo {
        margin: .6em 3em .6em 0;

    }

    .formulario__dupla {
        display: flex;
    }

    .formulario__botao {
        background: var(--preto);
        padding: 1em 2em;
        font-weight: 700;
        font-size: 15px;
        line-height: 15px;
        border: none;
        border-radius: 10px;
        color: var(--branco);
        cursor: pointer;
        float: right;
        text-transform: uppercase;
        border: 1px solid var(--cor-padrao);
    }

    .formulario__erro {
        display: flex;
        margin-top: .5em;
        align-items: center;
    }

    .erro__imagem {
        width: 16px;
        height: 16px;
        margin: 0 .5em;
        background-image: url('../img/warning.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .erro__texto {
        font-size: 12px;
        line-height: 18px;
        color: var(--vermelho);
    }

    .funcionarios,
    .nome_titulo {
        border: 3px solid var(--cor-padrao);
        gap: 10px;
        font-size: 15px;
        font-weight: 400;
        font-family: var(--fonte-principal);
        border-radius: 5px;
    }

    .nome_dados {
        border: 2px solid var(--cor-padrao);
    }

    table.funcionarios {
        border-collapse: collapse;
        width: 100%;
    }

    table.funcionarios th, table.funcionarios td {
        border: 1px solid var(--cor-padrao);
        padding: 8px;
        text-align: left;
    }

    table.funcionarios tr:nth-child(even) {
        background-color: rgb(242, 242, 242);
    }

}