:root {
    --cor-fundo: #EBECEE;
    --cor-branco: #FFFFFF;
    --cor-laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte--principal: "Poppins";
    --azul: #002F52;
    --fonte-secundaria: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

.cabecalho-menu {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho-menu-perfil {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(../img/Usuário.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--cor-branco);
}

.container {
    display: flex;
    align-items: center;
}

.container_img {
    padding: 5px;
    margin-left: 15px;
}

.lista-menu,
.lista-menu-perfil {
    display: none;
    position: absolute;
    top: 100%;
    width: 40vw;
}

/* esconde a lista de menu */

.container-botao:checked~.lista-menu {
    display: block;
}

.container_botao_perfil:checked .lista-menu-perfil {
    display: block;

}

.lista-menu-titulo,
.lista-perfil-titulo,
.lista-perfil-item,
.lista-menu-item {
    padding: 0.2em;
    background-color: var(--cor-branco);
}

.lista-menu-titulo,
.lista-perfil-titulo {
    color: var(--cor-laranja);
    font-weight: 700;
}

.lista-menu-link,
.lista-perfil-link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

/*lista categoria */

.container-botao {
    display: none;
}

.container_botao_perfil {
    display: none;
}


.container_titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container_texto {
    display: none;
}

.cabecalho-menu,
.cabecalho-menu-perfil {
    margin-left: 10px;
}

.opcoes_botoes_perfil {
    display: none;
}


@media screen and (min-width: 1024px) {

    .container_titulo,
    .container_titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container_titulo {
        font-weight: 400;
        display: block;
    }

    .container_titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes_item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes_item_perfil{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes_link {
        text-decoration: none;
        color: var(--azul);
    }

    .container_img_transparente {
        display: none;
    }

    .cabecalho-menu {
        display: none;
    }

    .opcoes_botoes_perfil:checked~.lista-menu-perfil {
        display: block;
        width: auto;
    }

    .opcoes_botoes {
        display: none;
    }

    .opcoes_botoes_perfil {
        display: none;
    }

    /* .opcoes_botoes:checked~.opcoes_rotulo>.opcoes_item {
        background: var(--azul-degrade);
        color: var(--cor-branco);
    } */

    /* .opcoes_botoes_perfil:checked~.opcoes_rotulo_perfil>.opcoes_item_perfil {
        background: var(--azul-degrade);
        color: var(--cor-branco);
    } */

    .opcoes_item {
        padding: 2em 1em;
    }

    .opcoes_item_perfil{
        padding: 2em 1em;
    }

    .lista-menu-item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu-item:hover>.lista-menu-link {
        -webkit-text-fill-color: var(--cor-branco);
        text-decoration: none;
    }  

    /*lista categoria */

    /* .botoes_ancora:active {
        background-color: var(--azul);
    }*/
} 

@media screen and (min-width: 1728px) {
    .container_link {
        display: flex;
        align-items: center;
        text-decoration: none;
        align-items: center;
        color: var(--azul);
        font-family: var(--fonte--principal);
        font-size: 20px;
        font-weight: 400;
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

    .opcoes_item {
        margin-right: auto;
    }

    li {
        list-style-type: none;
    }

    .container_texto {
        display: block;
        text-transform: uppercase;
        font-size: 16px;
    }

    .opcoes_botoes_perfil {
        display: none;
    }

    .opcoes_rotulo:hover .lista-menu {
        display: block;
        width: 8%;
    }

    .opcoes_rotulo_perfil:hover .lista-menu-perfil {
        display: block;
        width: 100%;
    }

    .container_img {
        display: none;
    }

    .opcoes_item,
    .opcoes_item_perfil {
        color: var(--azul);
    }

    .opcoes_botoes_perfil:checked~.opcoes_rotulo_perfil>.opcoes_item_perfil {
        background: var(--azul-degrade);
        color: var(--cor-branco);
    }

    .lista-perfil-link:hover {
        background: var(--azul-degrade);
    }

    .lista-perfil-item:hover>.lista-perfil-link {
        -webkit-text-fill-color: var(--cor-branco);
        text-decoration: none;
    }
}