body {
    background-color: rgb(196, 172, 129);
}

.container_titulo {
    margin-top: 30px;
    text-align: center;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    font-family: mulish;
    height: 70px;
    margin-top: 70px;
}

.CardLogin {
    display: flex;
    align-items: center;
    background-color: rgb(245, 222, 179);
    height: 350px;
}

.login {
    background-color: rgb(252, 244, 244);
    border-radius: 5px;
    margin-left: 31px;
    height: 200px;
}

.input-login {
    background-color: rgb(241, 240, 240);
    color: #0d0d0d;
    font-size: 10px;
    width: 87%;
}

input {
    margin: 20px;
    text-align: center;
    padding: 12px 0;
    box-shadow: 0 9px 10px 2px rgb(172, 170, 170);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    border: none;
}

.descricao_titulo {
    background-color: rgb(139, 112, 60);
    width: 50%;
    border-radius: 5px;
    height: 20px;
    position: absolute;
    top: 13%;
    left: 50%;
    margin-bottom: 50px;
    transform: translate(-50%, -50%);
}

.titulo_login {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    font-family: mulish;
    color: rgb(255, 255, 255);
}

.input-submit {
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(139, 112, 60);
    border-radius: 5px;
    font-size: 12px;
    padding: 8px;
    margin-left: 55px;
}

.input-submit a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.cardInfo {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container_titulo {
        margin-top: 30px;
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 40px;
        font-weight: 400;
        font-family: mulish;
        height: 50px;
    }

    .login {
        margin-left: 25%;
        margin-top: 0.5%;
        width: 50%;
        border-radius: 20px;
        background-color: rgb(252, 244, 244);
        text-align: center;
        height: 330px;
    }

    .descricao_titulo {
        background-color: rgb(139, 112, 60);
        ;
        width: 50%;
        border-radius: 5px;
        height: 30px;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titulo_login {
        font-weight: 500;
        font-size: 20px;
        font-family: mulish;
        color: rgb(255, 255, 255);
    }

    .botoes {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
        border: none;
        margin: 50px;
    }

    .input-submit {
        cursor: pointer;
        background-color: rgb(139, 112, 60);
        border: none;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-size: 17px;
        border-radius: 5px;
        width: 30%;
        height: 39px;
    }

    .input-submit a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .CardLogin {
        margin-top: 100px;
        height: 500px;
        background-color: rgb(245, 222, 179);
    }



    /* Card de Informações */


    /* 
.cardInfo.oculto {
    display: flex;
    justify-content: center;
    background: #fff;
    box-shadow: 1px 1px 1px 3px #00000040;
    border-radius: 10px;
    margin: 10em;
    padding: 2em;
    width: 18em;
    margin: 60%;
    position: absolute;
    top: 35%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #4aa0e6;
} */


    /* .cardInfo.ocultar {
    pointer-events: none;
    opacity: 0.5;
} */

    /* #cardModal{
    margin-top: 50px;
}

.descricao_login {
    margin-top: 35px;
    text-align: center;
    color: #03080c;
    font-size: 25px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cardInfo {
    border-radius: 5px;
    margin-left: 30%;
    width: 40%;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 30px 60px 10px gray;
    text-align: center;
    height: 270px;
} */

    /* div p {
    margin-top: 70px;
    text-align: center;
} */

    /* .info {
    display: inline-block;

    
    #cardModal{
        display: none;
    }
} */

    .cardInfo {
        display: none;
    }


    /* Estilos gerais do modal */
    /* #cardModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    display: flex;
} */

    /* Estilos do conteúdo do modal */
    .cardInfo {
        background-color: #fff;
        padding: 90px;
        text-align: center;
        border-radius: 5px;
        width: 300px;
    }

    /* Estilos para o título */
    .descricao_login {
        text-align: center;
        margin-top: 0px;
        font-size: 24px;
        font-weight: 500;
        font-family: mulish;
        margin-bottom: 40px;
        color: #e40606;
    }

    /* Estilos para o texto */
    .cardInfo p {
        text-align: center;
        font-family: mulish;
    }

    /* Estilos para a div com o texto */
    .cardInfo div {
        text-align: center;
        margin-bottom: 40px;
    }

    /* Estilos para os botões */
    .modal-buttons {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    /* Estilos para os botões */
    .botoes_info {
        display: inline-block;
        padding: 10px 30px;
        background-color: #4aa0e6;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
        text-decoration: none;
        font-family: mulish;
        margin-right: 10px;
        font-size: 17px;
    }

    /* Estilos para o link dentro do botão */
    .botoes_info a {
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        font-family: mulish;
    }
}