.rodape {
    margin-top: 330px;
    background-color: var(--cor-padrao);
    padding: 0.5em;
}

.nome-loja {
    color: var(--preto);
    font-size: 20px;
    font-weight: 400;
    font-family: var(--fonte-principal);
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__titulo {
        font-size: 15px;
        color: var(--preto);
        font-family: var(--fonte-principal);
    }

    .rodape__titulo {
        font-size: 24px;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--preto);
        padding-left: 1em;
    }

    .rodape {
        padding: 0.5em 0;
    }

    .nome-loja {
        color: var(--preto);
        font-size: 20px;
        font-weight: 400;
        font-family: var(--fonte-principal);
    }
}