:root {
    --cor-de-fundo: rgb(196, 172, 129);;
    --branco: rgb(255, 255, 255);
    --cor-padrao: rgb(139, 112, 60);
    --fonte-principal: "Poppins";
    --fonte-secundario: "Josefin Sans";
    --preto: rgb(0, 0, 0);
    --cinza: rgb(71, 70, 70);
    --cinza-claro: rgb(133, 133, 133);
    --vermelho: rgb(241, 28, 0);
}

hr {
    margin: 0;
}

.rodape {
    background-color: var(--cor-branco);
    padding: 1em;
}

.lista_rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista_rodape_item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista_rodape_link {
        text-decoration: none;
        color: var(--cinza);
        margin-left: 0.6em;
    }

    .lista_rodape_titulo {
        font-size: 14px;
        color: var(--cinza-claro);
    }

    .rodape_titulo {
        font-size: 24px;
    }

    .lista_rodape {
        display: block;
    }

    .lista_rodape_link:hover {
        color: var(--laranja);
    }
}

@media screen and (min-width: 1366px) and (max-width: 1728px) {
    .lista_rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }

    .rodape {
        margin-top: 30px;
        padding-bottom: 1px;
    }

    .lista_rodape_link:hover {
        color: var(--laranja);
    }

    .nome-loja {
        color: var(--preto);
        font-size: 20px;
        font-weight: 400;
        font-family: var(--fonte--principal);
    }

    .nerd {
        color: var(--cor-laranja);
        font-size: 20px;
        font-weight: 400;
        font-family: var(--fonte--principal);
    }
    
    .lista_rodape_titulo {
        color: var(--cor-padrao);
    }
}